<h1>Edit installation</h1>

<%= render "form" %>

<%= link_to "Show", customer_installation_path(@customer, @installation) %><br>
<%= link_to "Back to installations", customer_installations_path(@customer) %>
