<h2>Edit Installation</h2>
<%= render "form" %>
<%= link_to "Back to #{@installation.name.capitalize} Installation", installation_path(@installation) %><br>
<%= link_to "Back to Installations", installations_path(@customer) %>
