<h1>Your installations</h1>
<ul>
	<li>Total installations: <%= total_installations(@customer) %></li>
</ul>
<ul>
  <% @installations.find_each do |installation| %>
    <li><%= link_to installation.name, customer_installation_path(@customer,installation) %></li>
  <% end %>
</ul>
<%= link_to "Add an installation", new_customer_installation_path(current_user.customer_id) %>
