<h1>Your installations</h1>
<ul>
  <% @installations.find_each do |installation| %>
    <li><h2><%= link_to installation.name, installation_path(installation) %></h2></li>
    <ul>
      <li><%= link_to "Edit", edit_installation_path(installation) %></li>
      <li><%= link_to "Delete", installation_path(installation), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  <% end %>
</ul>
<%= link_to "Add an installation", new_customer_installation_path(@customer) %>
