<h1>Installations</h1>

<% @installations.each do |installation| %>
	<%= link_to "/installations/#{installation.id}" do %>
		<div class="installation-index-wrap">
			<div class="installation-index-image">
				<p>Add images here</p>
			</div>
			<%= installation.name %>
		</div>
	<% end %>
<% end %><br>

<%= link_to image_tag("add.png"), new_customer_installation_path(current_user.customer_id) %>
