<h1>Your installations</h1>
<ul>
  <% @installations.find_each do |installation| %>
    <li><%= link_to installation.name, customer_installation_path(@customer, installation) %></li>
    <ul>
      <li><%= link_to "Edit", edit_customer_installation_path(@customer, installation) %></li>
      <li><%= link_to "Delete", customer_installation_path(@customer, installation), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  <% end %>
</ul>
<%= link_to "Add an installation", new_customer_installation_path(current_user.customer_id) %>
