<h1>Record an audio clip</h1>

<section class="experiment">  
    <h2 class="header">Record Audio (both Chrome/Firefox)</h2>

    <div class="inner" style="height: 5em;">
        <audio id="audio" autoplay controls></audio>
        <button id="record-audio">Record</button>
        <button id="stop-recording-audio" disabled>Stop</button>
        <h2 id="audio-url-preview"></h2>
    </div>
</section>