<%= render "pre_header" %>
<%= render "social_sidebar" %>
<div class="page-wrap">
	<h1>About</h1>
	<div id="about-video-wrap">
		<%= video_tag "trailer.ogg", size: "400x200", poster: "lighthouse_400x400.png", controls: true, autobuffer: true %>
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia enim id ante tincidunt imperdiet. Vivamus vehicula felis a ligula tincidunt, vel tempus nisi vestibulum. Cras nisi nisi, scelerisque sed tellus id, imperdiet elementum neque. Vivamus consequat luctus nisi, at vestibulum erat blandit vitae. Sed venenatis ornare lorem a vulputate. Quisque dapibus dictum nisl. Curabitur vehicula urna eu sagittis suscipit. Integer at porttitor mauris. Nam adipiscing mi ut accumsan condimentum. Sed dapibus, erat a porta lobortis, orci arcu rhoncus eros, ac malesuada lectus ipsum eget dolor. Morbi augue mi, rhoncus vel accumsan eget, euismod et orci. Sed ut rhoncus sapien. Maecenas vel sem dui. Duis auctor, ante eu imperdiet rutrum, mauris lorem ultricies quam, ac scelerisque massa arcu id arcu.
	</p>
	<p>
		Nulla vel rhoncus urna. Nunc luctus sed eros eget rhoncus. Quisque non enim vulputate lectus scelerisque egestas. Donec ultricies, felis quis volutpat luctus, sem purus ultricies risus, a faucibus mauris turpis vel leo. Integer et mi at velit molestie adipiscing. Etiam suscipit leo ut porta lacinia. Sed quis malesuada velit. Nam cursus euismod ipsum, in commodo ipsum sollicitudin eu. Fusce pellentesque lacus at diam adipiscing ultricies ut quis felis.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia enim id ante tincidunt imperdiet. Vivamus vehicula felis a ligula tincidunt, vel tempus nisi vestibulum. Cras nisi nisi, scelerisque sed tellus id, imperdiet elementum neque. Vivamus consequat luctus nisi, at vestibulum erat blandit vitae. Sed venenatis ornare lorem a vulputate. Quisque dapibus dictum nisl. Curabitur vehicula urna eu sagittis suscipit. Integer at porttitor mauris. Nam adipiscing mi ut accumsan condimentum. Sed dapibus, erat a porta lobortis, orci arcu rhoncus eros, ac malesuada lectus ipsum eget dolor. Morbi augue mi, rhoncus vel accumsan eget, euismod et orci. Sed ut rhoncus sapien. Maecenas vel sem dui. Duis auctor, ante eu imperdiet rutrum, mauris lorem ultricies quam, ac scelerisque massa arcu id arcu.
	</p>
	<p>
		Nulla vel rhoncus urna. Nunc luctus sed eros eget rhoncus. Quisque non enim vulputate lectus scelerisque egestas. Donec ultricies, felis quis volutpat luctus, sem purus ultricies risus, a faucibus mauris turpis vel leo. Integer et mi at velit molestie adipiscing. Etiam suscipit leo ut porta lacinia. Sed quis malesuada velit. Nam cursus euismod ipsum, in commodo ipsum sollicitudin eu. Fusce pellentesque lacus at diam adipiscing ultricies ut quis felis.
	</p>
</div>