<div id="index-page-wrap">
	<%= image_tag "lighthouse_400x400.png", height: "250", id: "welcome-index-image" %>
	<h1>Welcome to Lufthouse!</h1>
	<%= link_to "Sign in" %>
	<%= link_to "Sign up" %>
</div>