<div class="page-wrap" id="index-page-wrap">
	<%= link_to image_tag("lighthouse_400x400.png", height: "250"), welcome_about_path, id: "about-video" %>
	<h1>Welcome to Lufthouse!</h1>
	<%= link_to "Sign in" %>
	<%= link_to "Sign up" %>
</div>