<h1>Welcome to Lufthouse</h1>
<h2 .front>Here are some metrics</h2>
<div id="about-video-wrap">
	<%= video_tag "trailer.m4v", poster: "poster.png", controls: true, autobuffer: true, autoplay: true %>
</div>
