<!-- <h1>Listing Customers</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <#% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
    </tr>
  <#% end %>
</table> -->