// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
// You can use CoffeeScript in this file: http://coffeescript.org/


$( document ).ready(function() {
  var audioStream;
  var recorder;

  var audioConstraints = {
    audio: true,
    video: false
};

  $('#record-audio').click(function() {
      if (!audioStream)
          navigator.webkitGetUserMedia(audioConstraints, function(stream) {
              if (window.IsChrome) stream = new window.MediaStream(stream.getAudioTracks());
              audioStream = stream;

              audio.src = URL.createObjectURL(audioStream);
              audio.muted = true;
              audio.play();

              // "audio" is a default type
              recorder = window.RecordRTC(stream, {
                  type: 'audio'
              });
              recorder.startRecording();
          }, function() {
          });
      else {
          audio.src = URL.createObjectURL(audioStream);
          audio.muted = true;
          audio.play();
          if (recorder) recorder.startRecording();
      }

      window.isAudio = true;

      this.disabled = true;
      $('#stop-recording-audio').prop("disabled",false);
  });

  $('#stop-recording-audio').click(function() {

        this.disabled = true;
        $('#record-audio').prop("disabled",false);
        audio.src = '';

        if (recorder)
            recorder.stopRecording(function(url) {
                audio.src = url;
                audio.muted = false;
                audio.play();
                
                $('#audio-url-preview').html('<a href="' + url + '" target="_blank">Recorded Audio URL</a>');
            });
    });
});