@import "active_admin";
@import "scaffolds";
@import "beacons";
@import "audio_clips";

body {
	margin: 0 20%;
	padding: 20px;
	h1 {
		margin: 10px 0 20px;
		text-align: center;
	}	
	h2 {
		margin: 10px 0;
		text-align: left;
	}
}

nav {
	padding: 10px 0;
	background-color: lightgrey;
	margin: 0 auto;
	ul { 
		text-align: center;
		padding: 0;
		margin: 0;
		li {
			padding: 5px;
			display: inline;
			list-style: none;
		}
	}
}

#social-sidebar {
	position: fixed;
	top: 40%;
	right: 0;
	float: right;
	ul li {
		list-style: none;
		padding: 10px 0;
	}
}

#account-sidebar-wrap {
	float: right;
	color: grey;
}

.map-wrap {
	width: 400px;
}

#beacon-map {
	width: 400px;
	height: 200px;
}

#about-video-wrap {
	margin: 0 auto 20px;
	width: 400px;
	height: 200px;
	border: 1px solid black;
}
