// @import "active_admin/mixins";
// @import "active_admin/base";
@import "bootstrap";
@import "font";
@import "beacons";
@import "nav";
@import "welcome";
@import "audio_clips";

body {
	h1 {
		margin: 10px 0 20px;
		text-align: center;
	}	
	h2, h3, h4 {
		margin: 5px 0 10px;
		text-align: left;
	}
	ul {
		list-style: none;
		margin: 5px 0 10px;
	}
	p {
		margin-bottom: 10px;
	}
}

table {
	border-bottom: solid 1px lightgrey;
	margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.beacon-page-column-wrap {
	padding: 5px;
	width: 40%;
	margin-right: 30px;
	float: left;
}

#beacon-show-page-link-wrapper {
	clear: both;
}

.map-wrap {
	width: 300px;
}

#beacon-map {
	width: 300px;
	height: 200px;
}

#customer-map {
	width: 300px;
	height: 200px;
}

#about-video-wrap {
	margin: 0 auto 20px;
	width: 400px;
	height: 200px;
	border: 1px solid black;
}

#content_url {
	display: none;
}

.content-type-field {
	display: none;
}

#content-file-field {
	display: inline;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
