footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-top: solid 1px #5C94B6;
  color: #5C94B6;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

#social-icons {
  padding: 0;
  text-align: center;
  li {
    display: inline;
    padding: 10px 0;
  }
}