/*\ 
|*| FORMS STYLESHEET
|*| This stylesheet contains styling for forms in the application.
\*/

/*
* The form's optimum aesthetic width is maintained by inheriting bootstrap
* column classes. Three types of forms are specified in this application: 
* resource forms, i.e. edit and new forms for installations, beacon forms, and 
* the rest, e.g. sign in etc.
*/

/*--------------------------------------
FORM WIDTH
--------------------------------------*/

.form {
  @extend .col-lg-4, .col-lg-offset-4, .col-sm-6, .col-sm-offset-3;
  @extend .col-xs-8, .col-xs-offset-2;
}

// The form buffer div ensures that the form's proportions are maintained.
.form-right-buffer {
  @extend .col-lg-4, .col-sm-3, .col-xs-2;
  height: 100%;
}


/*--------------------------------------
RESOURCE FORM WIDTH
--------------------------------------*/

.form-resource {
  @extend .col-lg-5, .col-lg-offset-3, .col-md-6, .col-md-offset-2, .col-sm-7, .col-sm-offset-2;
  @extend .col-xs-9, .col-xs-offset-1;
}

.form-right-buffer-resource {
  @extend .col-lg-3, .col-sm-2, .col-xs-1;
  height: 100%;
}

/* 
* The beacon form has different dimensions due to its increased number of form
* elements.
*/ 
.form-beacon {
  @extend .col-lg-7, .col-lg-offset-3, .col-md-7, .col-md-offset-2, .col-sm-8, .col.sm-offset-2;
  @extend .col-xs-10, .col-xs-offset-1;
}

/* 
* External form content elements, e.g. form titles and bottom links, are given 
* some left margin to account for the border radius of the form content div.
*/
.external-form-element-margin {
  margin-left: 0.8rem;
}

.form,
.form-resource,
.form-beacon {
  h2 {
    @extend .external-form-element-margin;
    margin-bottom: -0.4rem;
  }
  a {
    @extend .link;
  }
}

/*
* The form contents wrapper holds all form fields and actions.
*/

.form-contents-wrap {
  @extend .border-radius-medium;
  width: 100%;
  font-size: 2rem;
  padding: 4.5rem 5rem;
  background-color: $grey-pale;
  border-bottom: solid 2px $grey;
  border-left: solid 1px $grey-light;
  border-right: solid 1px $grey-light;
}


// The form contents wrapper for a resource form is given less top padding.
.form-resource .form-contents-wrap {
  padding-top: 3.5rem;
}

/* 
* A border is added to differentiate between the two form columns present in the
* beacon form.
*/
.form-beacon {
  .col-md-6:nth-of-type(2) { 
    border-left: solid 1px $grey;
  }
}

// Adds some space between the submit button and double-column layout.
.form-beacon .row {
  margin-bottom: 1rem;
}

.field {
  margin-bottom: 0.8rem;
}

input,
select,
label,
textarea {
  @extend .border-radius-small, .sans-serif, .font-medium;
  width: 100%;
}

input,
select,
textarea {
  padding: 0.5rem 0.8rem;
  border: solid 1px $blue-light;
  background-color: $blue-pale; 
}

input:focus,
textarea:focus {
  background-color: white;
}

select {
  padding: 2px;
}

label {
  margin-bottom: 0.1rem;
  font-weight: 400;
  color: $blue;
}

.checkbox-label {
  font-style: normal;
}

input[type="file"] {
  border: none;
  padding-top: 0.1rem;
  padding-left: 0;
  background-color: $grey-pale;
}

input[type="checkbox"] {
  width: 2rem;
}

// The following styling applies to the file upload button.
input[type="button"], 
input[type="reset"], 
input[type="file"]::-webkit-file-upload-button, 
button {
  @extend .sans-serif, .font-medium, .border-radius-small;
  padding: 0.5rem 0.8rem;
  background-color: $blue-light;
  border: none;
}

.actions input,
input[type="submit"] {
  margin-top: 0.8rem;
  padding: 0.5rem 0.8rem;
  text-align: center;
  background-color: $blue;
  color: white;
  text-transform: uppercase;

  // Removes border from previous class inheritance.
  border: none;
  border-bottom: solid 0.2rem $blue-dark;
}

// This styling is added using js on click.
#submit-clicked {
  margin-top: 1rem;
  border: none;
  background-color: $green;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.checkbox-label {
  display: inline;
  color: $grey-dark;
  font-weight: 400;
}

/*--------------------------------------
DEVISE
--------------------------------------*/

/*
* Devise generates error messages by default. As such, the elements with the
* following classes may not appear in the corresponding view DOMs.
*/

.flash-error-message-wrapper {
  @extend .border-radius-small, .sans-serif, .font-small;
  padding: 0 1rem;
  color: $red;
}

.devise-shared-link {
  @extend .sans-serif, .external-form-element-margin, .font-small;
}

#error_explanation {
  @extend .border-radius-small, .sans-serif;
  width: 100%;
  margin: 0 0 0.5rem;
  color: $red;
  h2 {
    margin: 0 0 0.4rem;
    text-align: left;
    font-size: 1.5rem;
    color: $red;
  }
  ul li {
    font-size: 1.5rem;
    list-style: square;
  }
}

.field_with_errors input {
  border-color: $red;
}
