/*\ 
|*| FORMS STYLESHEET
|*| This stylesheet contains styling for forms in the application.
\*/

/*
* The form's optimum aesthetic width is maintained by inheriting bootstrap
* column classes. Two types of forms are specified in this application: 
* resource forms, i.e. edit and new forms for beacons and installations, and the
* rest.
*/

/*--------------------------------------
FORM WIDTH
--------------------------------------*/

.form {
  @extend .col-lg-4, .col-lg-offset-4, .col-sm-6, .col-sm-offset-3;
  @extend .col-xs-8, .col-xs-offset-2;
}

// The form buffer div ensures that the form's proportions are maintained.
.form-right-buffer {
  @extend .col-lg-4, .col-sm-3, .col-xs-2;
  height: 100%;
}


/*--------------------------------------
RESOURCE FORM WIDTH
--------------------------------------*/

.form-resource {
  @extend .col-lg-6, .col-lg-offset-3, .col-sm-8, .col-sm-offset-2;
  @extend .col-xs-10, .col-xs-offset-1;
}

.form-right-buffer-resource {
  @extend .col-lg-3, .col-sm-2, .col-xs-1;
  height: 100%;
}

.external-form-element-margin {
  margin-left: 0.8rem;
}

.form,
.form-resource {
  h2 {
    @extend .external-form-element-margin;
    margin-bottom: -0.4rem;
  }
  a {
    @extend .link;
  }
}

.form-contents-wrap {
  @extend .border-radius-medium;
  width: 100%;
  font-size: 2rem;
  padding: 4.5rem 5rem;
  background-color: $grey-pale;
  border-bottom: solid 2px $grey;
  border-left: solid 1px $grey-light;
  border-right: solid 1px $grey-light;
}

.form-resource .form-contents-wrap {
  padding-top: 3.5rem;
}

.field {
  margin-bottom: 0.8rem;
}

input,
select,
label {
  @extend .border-radius-small, .sans-serif, .font-medium;
  width: 100%;
}

input,
select {
  padding: 0.5rem 0.8rem;
  border: solid 1px $blue-light;
  background-color: $blue-pale; 
}

input:focus {
  background-color: white;
}

select {
  padding: 2px;
}

label {
  margin-bottom: 0.1rem;
  color: $blue;
}

input[type="file"] {
  border: none;
  padding-top: 0.1rem;
  padding-left: 0;
  background-color: $grey-pale;
}

input[type="checkbox"] {
  width: 2rem;
}

.actions input,
input[type="submit"] {
  margin-top: 0.8rem;
  padding: 0.5rem 0.8rem;
  text-align: center;
  background-color: $blue;
  color: white;
  text-transform: uppercase;

  // Removes border from previous class.
  border: none;
  border-bottom: solid 0.2rem $blue-dark;
}

#submit-clicked {
  border: none;
  background-color: $green;
  margin-top: 1rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.checkbox-label {
  display: inline;
  color: $grey-dark;
  font-weight: 400;
}

/*--------------------------------------
DEVISE
--------------------------------------*/

/*
* Devise generates error messages by default. As such, the elements with the
* following classes may not appear in the corresponding view DOMs.
*/

.flash-error-message-wrapper {
  @extend .border-radius-small, .sans-serif, .font-small;
  padding: 0 1rem;
  color: $red;
}

.devise-shared-link {
  @extend .sans-serif, .external-form-element-margin, .font-small;
}

#error_explanation {
  @extend .border-radius-small, .sans-serif;
  width: 100%;
  margin: 0 0 0.5rem;
  color: $red;
  h2 {
    margin: 0 0 0.4rem;
    text-align: left;
    font-size: 1.5rem;
    color: $red;
  }
  ul li {
    font-size: 1.5rem;
    list-style: square;
  }
}

.field_with_errors input {
  border-color: $red;
}
