/*\ 
|*| FORMS STYLESHEET
|*| This stylesheet contains styling for forms in the application.
\*/

form {
  width: 30%;
  margin: 0 auto;
}

.external-form-element-margin {
  margin-left: 0.4rem;
}

form h2 {
  @extend .external-form-element-margin;
}

.form-contents-wrap {
  @extend .border-radius-medium;
  font-size: 2rem;
  padding: 4.5rem 5rem;
  background-color: $grey-pale;
  border-bottom: solid 2px $grey;
  border-left: solid 1px $grey-light;
  border-right: solid 1px $grey-light;
}

.field {
  margin-bottom: 0.8rem;
}

input,
select,
label {
  @extend .border-radius-small;
  @extend .sans-serif;
  font-size: 2rem;
  width: 100%;
}

input,
select {
  padding: 0.5rem 0.8rem;
  border: solid 1px $blue-light;
  background-color: $blue-pale; 
}

input:focus {
  background-color: white;
}

select {
  padding: 2px;
}

label {
  color: $blue;
}

input[type="file"] {
  border: none;
  padding-left: 0;
  background-color: $grey-pale;
}

input[type="checkbox"] {
  width: 2rem;
}

.actions input,
input[type="submit"] {
  margin-top: 10px;
  padding: 0.5rem 0.8rem;
  border: none;
  text-align: center;
  background-color: $blue;
  color: white;
  text-transform: uppercase;
  border-bottom: solid 2px $blue-dark;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.remember-me {
  display: inline;
  color: $grey-dark;
  font-weight: 400;
}

/*--------------------------------------
DEVISE
--------------------------------------*/

.flash-error-message-wrapper {
  @extend .border-radius-small;
  @extend .sans-serif;
  width: 100%;
  margin: -1rem 0 2.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: solid 1px red;
}

.devise-shared-link {
  @extend .sans-serif;
  @extend .external-form-element-margin;
  font-size: 2rem;
}
