/*
* This stylesheet contains styling for the header, including the nav bar and 
* its subsections.
*/

/*\
|*| PRE NAV
|*| Once a user has signed in, a "pre nav" div is generated that displays user 
|*| account information. The pre nav has three components: on the left is a 
|*| welcome message with the customer's name, on the right is a message 
|*| displaying the current user's email, and in the center are .
\*/

/*----------------------------
VARIABLES
----------------------------*/

// The pre nav text color is defined using the following variable:
$pre-nav-color: $grey-dark;


/*----------------------------
PRE NAV
----------------------------*/

.pre-nav {
  @extend .side-padding, .sans-serif, .font-small;
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  background-color: $blue-pale;
  font-size: 1.5rem;
  color: $pre-nav-color;
}


/*----------------------------
PRE NAV WELCOME
----------------------------*/

.pre-nav-welcome {
  float: left;
  a {
    @extend .link;
  }
}


/*--------------------------------------
NOTICES
--------------------------------------*/

.notice {
  @extend .sans-serif, .font-small;
  position: absolute;
  left: 15%;
  right: 15%;
  text-align: center;
  color: $green;
}


/*----------------------------
PRE NAV EMAIL
----------------------------*/

.pre-nav-email {
  float: right;
}



/*\
|*| NAVIGATION BAR
|*| The navigation bar is composed of a background, i.e. bluebar, and content.
|*| The content is further broken up into three main subsections: nav (main site 
|*| navigation links) in the center, back link (link to parent resorce) on the 
|*| left, log out button on the right.
\*/

/*----------------------------
BLUEBAR
----------------------------*/

.bluebar {
  @extend .side-padding;
  @include box-shadow-top-small($blue-dark);
  font-size: 1.5rem;
  width: 100%;
  height: 3.3rem;
  padding-top: 0.2rem;
  background-color: $blue;

  // This margin seperates the header from the page content.
  margin-bottom: 4rem;
}


/*----------------------------
NAV
----------------------------*/

nav {
  /*
  * The following three rules keep the nav centered irrespective of the length of the 
  * nav back links and the logout button.
  */
  position: absolute;
  left: 15%;
  right: 15%;
  ul {
    text-align: center;
    padding: 0;
    margin: 0;
    li {
      padding: 0 0.7rem;
      text-decoration: none;
      display: inline;
      list-style: none;
    }
  }
}

.nav-link {
  @extend .sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: $blue-light;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

// Nav links that correspond to the current page are given a white text color.
.current {
  color: white;
}

.nav-btn {
  @extend .border-radius-small;
  @extend .sans-serif;
  width: 7rem;
  display: inline-block;
  padding: 0.1rem 0.4rem;
  margin-top: 0.3rem;
  text-transform: uppercase;
  background-color: $blue-light;
  border-bottom: 1px solid $blue-dark;
  text-align: center;
  font-size: 1.5rem;
  color: $blue-dark;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

// The following class is applied to a clicked nav button using js.
.nav-btn-clicked {
  position: relative;
  top: 1px;
  border: none;
  color: white;
}


/*----------------------------
NAV BACK LINKS
----------------------------*/

.nav-back-link {
  @extend .sans-serif;
  font-size: 2rem;
  float: left;
  padding: 0;
  a {
    color: $blue-light;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}


/*----------------------------
LOG OUT BTN
----------------------------*/

.nav-log-out-btn {
  float: right;
}
