.installation-wrap {
  float: left;
  width: 182px;
  height: 200px;
  padding-bottom: 36px;
  margin: 0 24px 24px 0;
  text-align: center;
}

.installation-image-wrap {
  height: 182px;
  border: solid 2px #5C94B6;
  &:hover {
    border-color: #0B588F;
  }
}

#installation-image-new {
  padding: 10px 0;
  vertical-align: bottom;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  img {
    height: 80px;
  }
  span {
    padding-top: 5px;
    display: block;
  }
}

.installation-image-link {
  float: right;
  margin: 5px 0 3px 3px;
}

.installation-image-edit-link {
  margin-right: 5px;
  img {
    height: 30px; 
  }
}

.installation-image-delete-link img {
  height: 30px;
}

.installation-image-title {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #0B588F;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}