/************************************************
PRE NAV HEADER
************************************************/

#pre-navbar-header {
  width: 100%;
  padding: 0 16px;
  margin: 8px 0;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #333;
}

#pre-navbar-customer-profile {
  float: left;
  margin-right: 5px;
  box-sizing: border-box; 
  display: inline;
  height: 25px;
  width: 25px;
  border: solid 2px #0B588F;
}

#pre-navbar-welcome {
  float: left;
  a {
    color: #333;
    font-weight: 700;
    &:hover {
      color: #333;
    }
  }
}

#pre-navbar-email {
  float: right;
}



/************************************************
NAV
************************************************/

#bluebar {
  width: 100%;
  background-color: #0B588F;
}

nav {
  padding: 3px 0;
  ul {
    text-align: center;
    padding: 0;
    margin: 0;
    li {
      font-size: 24px;
      padding: 0 8px;
      text-decoration: none;
      display: inline;
      list-style: none;
    }
  }
}

.nav-link {
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: #5C94B6;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

#logout-btn {
  position: relative;
  bottom: 39px;
  padding: 3px 8px 2px;
  margin: 2px 14px 0 0;
  height: 32px;
  float: right;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #5C94B6;
  a {
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #5C94B6;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

// Nav link corresponding to current page.
.current {
  color: white;
}

.nav-back-link {
  float: left;
  padding: 4px 0 0 14px;
  a {
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #5C94B6;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}