#bluebar {
  width: 100%;
  background-color: #00578D;
}

nav {
  padding: 10px 0;
  margin: 0 auto;
  ul { 
    text-align: center;
    padding: 0;
    margin: 0;
    li {
      font-size: 24px;
      padding: 5px;
      text-decoration: none;
      display: inline;
      list-style: none;
      a {
        color: #5C94B6;
        
      }
    }
  }
}