/*\ 
|*| TABLE STYLESHEET
|*| This stylesheet contains styling for tables on resource pages.
\*/

table {
  @extend .sans-serif, .font-medium;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: solid 1px $blue-light;
}

table+table,
.button+table,
.info+table {
  margin-top: 20px;
}

th {
  padding: 4px 2px 4px 8px;
  font-weight: 400;
  background-color: $blue-light;
  text-transform: uppercase;
  color: white;
}

tr {
  margin: 2px 0;
  &:hover {
    background-color: $grey-light;
  }
}

td {
  padding: 4px 2px 4px 8px;
  color: $grey-dark;
  a {
    color: $grey-dark;
    font-weight: 700;
    &:hover {
      color: $grey-dark;
    }
  }
}

.td-action {
  padding-left: 4px;
  width: 40px;
}

.table-icon img {
 height: 25px
}
