.center-content-wrap {
	text-align: center;
	padding: 60px;
	margin: 0 auto;
	h1 {
		margin: 10px 0 20px;
	}	
}

#about-video-wrap {
	margin: 0 auto;
	width: 400px;
	height: 200px;
	border: 1px solid black;
}