.page-wrap {
	padding: 20px;
	margin: 0 15%;
	h1 {
		margin: 10px 0 20px;
		text-align: center;
	}	
}

#about-video-wrap {
	margin: 0 auto 20px;
	width: 400px;
	height: 200px;
	border: 1px solid black;
}